.section {
  display: none;
}

.section.active {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.section .content {
  padding: 20px;
  margin: 20px 60px;
  width: 75%;
  border: 1px solid #9f9f9f;
  background-color: #252525;
  text-align: left;
}

.section .content h2 {
  color: #fff;
  /* border-bottom: 1px solid #9f9f9f; */
}

.section .content h3 {
  margin-top: 0;
}

.section .content p {
  margin: 0 0 10px;
}

.experience {
  margin-bottom: 20px;
}

.experience li {
  margin-bottom: 10px;
}

.company-logo-1,
.company-logo-2,
.company-logo-3 {
  margin-right: 10px;
}

.company-logo-1 img {
  width: auto; /* Adjust the width as per your preference */
  height: 44px;
}

.company-logo-2 img {
  width: auto; /* Adjust the width as per your preference */
  height: 20px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.company-logo-3 img {
  width: 140px; /* Adjust the width as per your preference */
  height: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

.experience-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.experience-header h3 {
  margin-right: 10px;
  margin-bottom: 10px;
}

.experience-header p {
  margin-bottom: 20px;
}

.buttons {
  margin-top: 40px;
}

.buttons button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 18px;
  color: #f3f3f3;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 1;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/* .buttons button:hover {
    color: #cc5500;
  } */

.buttons button::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #cc5500;
  align-items: center;
  transition: width 0.3s ease-out, transform 0.3s ease-out;
}

.buttons button:hover::after,
.buttons button.active::after {
  width: 80%;
  transform: translateX(-50%);
}

.project {
  margin-bottom: 25px;
}

.project li {
  margin-bottom: 10px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-buttons {
  display: flex;
  margin-bottom: 1em;
}

.project-button {
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #cc5500;
  color: white;
  text-decoration: none;
}

.project-button:hover {
  background-color: #ff7700;
}

.transcripts-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #cc5500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.transcripts-button:hover {
  background-color: #ff6600;
}

footer {
  flex-shrink: 0;
  padding: 10px;
  background-color: #222;
  color: #fff;
}

footer p {
  margin: 0;
}
